/*Main Styles*/
body {
  background-image: url('images/blackjack-table.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background {
  background-color: rgba(255, 255, 255, .5);
  color: white;
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 2em;
  margin-bottom: 30px;
}

li {
list-style: none;
width: 10%;
color: white;
text-align: center;
display: inline;
}

.player-cards img, .dealer-cards img {
  width: 100px;
}

hr {
  width: 80%;
  opacity: .5;
}

/*Text*/
.title {
  font-size: 3em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #ff0000;
  margin-bottom: 0px;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  color: white;
  margin-top: 0px;
}


/*Buttons*/
.buttons {
  text-align: center;
}

#stand, #hit, #surrender {
  font-size: 1em;
  text-align: center;
  padding: 5px;
  margin: 30px 3px 0px 3px;
}

#new-game {
  font-size: 1.5em;
  text-align: center;
  padding: 15px;
  margin: 10px 3px 30px 3px;
  background-color: black;
  color: white;
  border-radius: 50%;
  box-shadow: 2px 2px #ffe;
}

/*Chat Box*/
.chat {
  background-color: white;
  color: black;
  width: 80%;
  height: 10em;
  overflow: scroll;
  display: block;
  margin: 0 auto;
}

.chat h4 {
  font-size: 1em;
  color: black;
  margin: 3px;
  text-align: left;
  margin-bottom: 3px;
}
